.card{
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #EAEDF3;
    margin: 10px;
  
  }
  
  .card-dark{
    background-color: #eaecec;
    border: 1px solid #EAEDF3;
  }
  
  .card-body{
    padding: 20px;
  }