.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: var(--color-light);
  font-weight: var(--font-medium);
  color: var(--color-sub);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.6rem;
  outline-width: 0;
  outline-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
}

.btn i {
  pointer-events: none !important;
}

/* Dark Theme */
.dark-theme .btn,
.dark-theme .btn.btn--sub,
.dark-theme .btn.btn--main {
  color: var(--color-text);
}

.btn--main {
  background-color: var(--color-main);
  color: var(--color-white);
}

.btn.btn--main--outline {
  background-color: transparent;
  color: var(--color-main);
  border: 2px solid var(--color-main);
}

.btn--sub {
  background-color: var(--color-sub);
  color: var(--color-white);
}

.btn.btn--sub--outline {
  background-color: transparent;
  color: var(--color-sub);
  border: 2px solid var(--color-sub);
}

.btn--sm {
  padding: 0.5rem 1.2rem;
  font-size: 1.3rem;
}

.btn--lg {
  padding: 1.2rem 4rem;
  font-size: 1.8rem;
}

.btn--main--link,
.btn--sub--link {
  padding: 0;
  background: transparent;
}

.btn.btn--main--link {
  color: var(--color-main);
}

.btn.btn--main--link i {
  color: var(--color-main) !important;
}

.btn.btn--sub--link {
  color: var(--color-sub);
}

.btn.btn--sub--link i {
  color: var(--color-sub) !important;
}

/* Hover effects for outline buttons */
.btn--main--outline:hover::before,
.btn--sub--outline:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  opacity: 0.1;
}

.btn--main--outline:hover::before {
  background: var(--color-main);
}

.btn--sub--outline:hover::before {
  background: var(--color-sub);
}

/* Dark Theme */
.dark-theme .btn.btn--main {
  background-color: var(--color-sub);
}

.dark-theme .btn.btn--sub {
  background-color: var(--color-main);
}
