.card {
  border-radius: 1rem;
  background-color: var(--color-white);
  border: 2px solid var(--color-light);
  width: auto;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.card--dark {
  background-color: var(--color-light);
}
.card__body {
  padding: 2.5rem;
}
