.card {
  border-radius: 1rem;
  background-color: var(--color-white);
  border: 2px solid var(--color-light);
  width: auto;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dark-theme .card {
  background-color: var(--color-sub-light);
}

.card.card--dark {
  background-color: var(--color-light);
}

.dark-theme .card.card--dark {
  background-color: var(--color-main-light);
}

.card__body {
  padding: 2.5rem;
}

.expand-skills__link:hover {
  text-decoration: underline;
}
