.two-column-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.two-column-layout--reverse {
  grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 1000px) {
  .two-column-layout {
    grid-template-columns: 1fr;
  }
}

.three-column-layout {
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.three-column-layout__left-column {
  flex-basis: 16%;
}
.three-column-layout__right-column {
  flex-basis: 28%;
}

.three-column-layout__left-column {
  position: relative;
  width: 100%;
  height: 100%;
}

.three-column-layout__left-column > div,
.three-column-layout__left-column > section,
.three-column-layout__left-column > aside {
  position: fixed;
  width: 20%;
  max-width: 30rem;
}

.three-column-layout > section:nth-child(2) {
  flex-basis: 52%;
}

.three-column-layout__right-column {
  position: sticky;
  min-height: 100%;
  top: 0;
}

@media screen and (max-width: 1600px) {
  .three-column-layout__left-column > div,
  .three-column-layout__left-column > section,
  .three-column-layout__left-column > aside {
    width: 24%;
  }

  .three-column-layout > section:nth-child(2) {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 1300px) {
  .three-column-layout__left-column > div,
  .three-column-layout__left-column > section,
  .three-column-layout__left-column > aside {
    width: 30%;
  }

  .three-column-layout > section:nth-child(2) {
    flex-basis: 67.5%;
  }

  .three-column-layout__right-column {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .three-column-layout__left-column {
    display: none;
  }

  .three-column-layout > section:nth-child(2) {
    flex-basis: 100%;
  }
}
