.content-area {
  margin-top: 2.5rem;
  gap: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
}

.content-area > *:first-of-type {
  flex-basis: 100%;
}
.content-area > *:last-of-type {
  display: none;
}

.content-area > *:first-of-type > *,
.content-area > *:last-of-type > * {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 650px) {
  .content-area {
    width: 81%;
  }
  .content-area > *:first-of-type {
    margin-left: auto;
    flex-basis: 85%;
  }
}

@media screen and (min-width: 900px) {
  .content-area > *:first-of-type {
    flex-basis: 90%;
  }
}

@media screen and (min-width: 1150px) {
  .content-area > *:first-of-type {
    flex-basis: 65%;
  }

  .content-area > *:last-of-type {
    display: block;
    flex-basis: 35%;
  }
}
