.container {
  width: 80%;
  max-width: 165rem;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 2rem;
  }
}
