:root {
  --color-main: #5aa5b9;
  --color-main-light: #e1f6fb;
  --color-sub: #3f4156;
  --color-sub-light: #51546e;
  --color-text: #737373;
  --color-gray: #999;
  --color-light: #e5e7eb;
  --color-light-gray: #bbb;
  --color-bg: #f4f6f9;
  --color-white: #fff;
  --color-success: #3bc077;
  --color-error: #fc4b0b;

  --font-base: 'Poppins', Arial, Helvetica, 'Segoe UI', Roboto, Ubuntu,
    sans-serif;
  --font-monospace: 'Fira Code', 'Courier New', Courier, monospace;
  --font-regular: 300;
  --font-medium: 500;
  --font-bold: 700;
}
