.custom-spacer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.line-break {
  background-color: #eaedf3;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line-break-2 {
  background-color: #dadada;
}

#feed-post-form textarea {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: #f4f6f9;
  border: none;
  padding: 20px;
  font-size: 18px;
  border-radius: 50px;
  resize: none;
}

textarea:focus-within {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

#post-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eaedf3;
}

#post-btn {
  text-align: right;
}

.post-user-name {
  text-decoration: none;
  color: #000;
}

.contributor-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eaedf3;
}

.contributor-preview {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contributor-preview a {
  text-decoration: none;
}

.tags-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.snippet-wrapper {
  display: flex;
  border-top: 1px solid #dadada;
  padding-top: 10px;
  padding-bottom: 10px;
}

.snippet-wrapper a {
  text-decoration: none;
}

.snippet-engagement-count {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5eba7d;
  color: #fff;
  min-width: 35px;
  padding: 5px;
  margin-right: 10px;
}

.snippet-engagement-count p {
  color: #fff;
}

.snippet-text {
  color: rgb(131, 130, 130);
}

.post-header-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.replying-to-text {
  margin-left: 65px;
}

.post-meta {
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: var(--font-medium);
  font-size: 1.3rem;
  color: var(--color-light-gray);
}

.post-contents {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaedf3;
  align-items: center;
}

.post-votes {
  padding: 20px;
  text-align: center;
}

.vote-count {
  font-weight: var(--font-bold);
  color: #5eba7d;
}

.post-actions-wrapper {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  transition: all 0.1s ease;
}

.post-actions-wrapper i {
  margin: 10px;
  color: var(--color-gray);
  cursor: pointer;
  font-size: 18px;
}

.action-wrapper:hover * {
  color: var(--color-main);
}

.post-action-text {
  font-size: 1.4rem;
  font-weight: var(--font-medium);
}

.post-comment-wrapper {
  cursor: pointer;
}

.post-body {
  font-size: 1.5rem;
  color: var(--color-text);
  font-weight: var(--font-regular);
}

.vote-icon {
  color: var(--color-gray);
  cursor: pointer;
}

.up-arrow {
  color: var(--color-sub);
}

/* POST COMMENT STYLING */

.post-comments-wrapper {
  border-left: 1px dashed #d8d8d8;
}

.post-comment {
  padding: 20px;
}
