.homepage {
  .header {
    height: 0;

    @include media-queries(atMediumLarge) {
      height: 8rem;
    }
  }

  .hero-sec {
    height: 100vh;
    background: $color-bg;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 20vh;

    @include media-queries(atMediumLarge) {
      padding-top: 0;
      height: calc(100vh - 8rem);
      flex-direction: row;
      align-items: center;
    }

    &__box {
      text-align: center;
      padding: 0 2rem;
      padding-top: 4rem;
      order: 2;

      @include media-queries(atMediumLarge) {
        padding: 0;
        text-align: left;
        margin-left: 10%;
        margin-bottom: 8rem;
        max-width: 48%;
      }
    }

    &__imgbox {
      width: 80%;
      position: relative;
      left: 50%;
      transform: translateX(-45%);
      order: 1;

      @include media-queries(atMediumLarge) {
        left: 0;
        transform: translateX(0);
        margin-bottom: 8rem;
        order: 3;
      }
    }

    &__img {
      width: 90%;
      padding: 1rem;
    }

    &__heading {
      text-transform: uppercase;
      color: $color-main;
      font-weight: $font-bold;
      font-size: 2.6rem;

      @include media-queries(atSmall) {
        font-size: 3rem;
      }
      @include media-queries(atMedium) {
        font-size: 3.5rem;
      }
      @include media-queries(atMediumLarge) {
        font-size: 4.4rem;
      }
      @include media-queries(atLarge) {
        font-size: 5.2rem;
      }
    }

    &__text {
      color: $color-sub;
      font-weight: $font-regular;
      font-size: 1.3rem;
      margin-bottom: 2.6rem;

      @include media-queries(atSmall) {
        font-size: 1.4rem;
      }
      @include media-queries(atLarge) {
        font-size: 1.45rem;
      }
      @include media-queries(atLarger) {
        font-size: 1.65rem;
      }
    }
  }

  .main-area {
    padding: $sec-ptb-sm;
    @include media-queries(atMedium) {
      padding: $sec-ptb-md;
    }
    @include media-queries(atLarge) {
      padding: $sec-ptb-lg;
    }
  }
}
