.avatar {
  border-radius: 50%;
  border: 2px solid $color-main;

  &--xl {
    height: 20rem;
    width: 20rem;
  }

  &--lg {
    height: 15rem;
    width: 15rem;
  }

  &--md {
    height: 7.5rem;
    width: 7.5rem;
  }

  &--sm {
    height: 5rem;
    width: 5rem;
  }
}
