.btn {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  width: fit-content;
  height: fit-content;
  margin: 5px;
  font-size: 16px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
}

.btn-1 {
  background-color: $color-main;
  color: $color-white;
}

.btn-1-outline {
  background-color: $color-main;
  color: $color-main;
  background-color: $color-main;
  border: 1px solid $color-main;
}
