.card {
  border-radius: 1rem;
  background-color: $color-white;
  border: 2px solid $color-light;
  width: auto;
  height: auto;

  &--dark {
    background-color: $color-light;
    border-color: darken($color-light, 3%);
  }

  &__body {
    padding: 2.5rem;
  }
}
