.card {
  border-radius: 10px;
  background-color: $color-white;
  border: 1px solid $color-light;
  margin: 10px;
}

.card-dark {
  background-color: $color-light;
  border: 1px solid $color-light;
}

.card-body {
  padding: 20px;
}
