.btn {
  display: inline-block;
  cursor: pointer;
  background-color: var(--color-light);
  color: var(--color-sub);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.6rem;
  outline-width: 0;
  outline-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  opacity: 0.95;
}

.btn--main {
  background-color: var(--color-main);
  color: var(--color-white);
}

.btn--main--outline {
  background-color: transparent;
  color: var(--color-main);
  border: 2px solid var(--color-main);
}

.btn--sub {
  background-color: var(--color-sub);
  color: var(--color-white);
}

.btn--sub--outline {
  background-color: transparent;
  color: var(--color-sub);
  border: 2px solid var(--color-sub);
}

.btn--sm {
  padding: 0.5rem 1.2rem;
  font-size: 1.3rem;
}

.btn--lg {
  padding: 1.2rem 5rem;
  font-size: 1.8rem;
}
