#discussion-container{
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
}



.question-wrapper{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-bottom: 20px;
}

.discussion-headline{
    font-size: 32px;
}

.asked-by{
    margin-top: 10px;
    color: rgb(160, 158, 158);
    font-style: italic;
}
.question-sidebar {
    margin-right: 10px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-sidebar .user-thumbnail {
    margin-right: 0;
}

.big-vote-count{
    font-size: 16px;
    font-weight: 900;
    color: #5eba7d;
}

.big-up-arrow{
    font-size: 18px;
}

.big-down-arrow{
    font-size: 18px;
}

.voting-widget {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-body {
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #EAEDF3;
}