#header{
    /* Change this to that sticky header I like*/
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F4156;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
  
  }
  
  #logo{
    font-size: 32px;
  }
  
  #logo a{
    text-decoration: none;
    color: #fff;
  }
  
  #nav-wrapper{
    display: flex;
    align-items: center;
  }
  
  .nav-icon{
    font-size: 24px;
  }
  
  .nav-item{
    margin: 10px;
  }


  #user--navigation{
      display: none;
      position: fixed;
      width: 300px;
      top:60px;
      right: 20px;
  }

  #nav-toggle-icon{
      cursor: pointer;
  }

  .user-navigation--item{
      padding: 10px;
      border-bottom:1px solid #EAEDF3;
      display: flex;
      align-items: center;
      gap: 1rem;

    }