.model-backdrop {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.400);
    /* display: none; */
    opacity: 0;
    transition: opacity 0.3ms ease-in-out;
}
.model-backdrop.active {
    display: flex;
    opacity: 1;

}

.model-backdrop.inactive {  
    opacity: 0;
    display: none;
}


.model-backdrop .mumble-model {
    background: White;
    border-radius: 6px;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    margin: 0px 15px 15px 15px;
}
.mumble-model .model-header{
    position: relative;
}
.model-header .model-close {
    position: absolute;
    right: 0;
}

.mumble-model .model-actions {
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}