.setting--layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 1rem;
}

#settings-pic-wrapper {
    text-align: center;
}

/* Media Queries for SMARTPHONE */
@media screen and (max-width: 1300px) {
    .setting--layout {
        grid-template-columns: 1fr 2fr 0;
    }
}

@media screen and (max-width: 1000px) {
    .setting--layout {
        grid-template-columns: 1fr;
    }
}
