#settings-page-container{
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    grid-template-columns:1.5fr 3fr;
    grid-template-areas: "profile profileinfo";
    grid-template-columns: minmax(300px, auto) auto;
}


#settings-pic-wrapper{
    text-align: center;
}
#settings-pic-wrapper .btn-md {
    margin: 0 auto;
}

/* Media Queries for SMARTPHONE 320px */
@media (max-width: 992px) {
    #settings-page-container {
        display: flex;
        flex-flow: column nowrap;
    }
}


