.mumble-block {
  padding: $sec-ptb-lg;

  &__title {
    color: $color-sub;
    font-weight: $font-medium;
  }

  &__info {
    padding-bottom: 1rem;
    border-bottom: 2px solid $color-main;
  }

  &__preview {
    padding: 3rem 0;
  }

  &--typography {
    .mumble-block__preview > * {
      line-height: 2;
    }
  }

  &--avatar {
    .mumble-block__preview > * {
      margin-right: 1rem;
    }
  }
}
