@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*_______________________________________
Media Queries (Mobile-first Approach):
    0-400px: Default
    (min-width: 480px) - atSmall
    (min-width: 600px) - atMedium
    (min-width: 900px) - atMediumLarge
    (min-width: 1200px) - atLarge
    (min-width: 1920px) - atLarger
_______________________________________*/
@mixin media-queries($breakpoints) {
  @if $breakpoints==atSmall {
    @media only screen and (min-width: 480px) {
      @content;
    }
  } @else if $breakpoints==atMedium {
    @media only screen and (min-width: 600px) {
      @content;
    }
  } @else if $breakpoints==atMediumLarge {
    @media only screen and (min-width: 900px) {
      @content;
    }
  } @else if $breakpoints==atLarge {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoints==atLarger {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $breakpoints) {
      @content;
    }
  }
}
