#container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.syntax {
  background-color: hsl(0deg, 0%, 15%);
  border: 1px solid #999;
  display: block;
  padding: 20px;
  color: #eee;
  width: 90%;
  resize: none;
  font-size: 16px;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  #container {
    width: 100%;
    padding: 20px;
  }
}
