$color-main: #5aa5b9;
$color-sub: #3f4156;
$color-text: #737373;
$color-gray: #999;
$color-light: #eaedf3;
$color-bg: "#f4f6f9";
$color-white: #fff;

// Fonts
$font: "Poppins", Arial, Helvetica, "Segoe UI", Roboto, Ubuntu, sans-serif;
$font-monospace: "Fira Code", "Courier New", Courier, monospace;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Spacing
$sec-ptb-lg: 8rem 0;
$sec-ptb-md: 6.5rem 0;
$sec-ptb-sm: 4.2rem 0;
