$color-main: #5aa5b9;
$color-sub: "";
$color-bg: "#f4f6f9";
$color-white: #fff;

// Fonts
$font: "Poppins", Arial, Helvetica, "Segoe UI", Roboto, Ubuntu, sans-serif;
$font-monospace: "Fira Code", "Courier New", Courier, monospace;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Spacing
$sec-ptb-lg: 10rem 0;
$sec-ptb-md: 7.2rem 0;
$sec-ptb-sm: 4.8rem 0;
