.create-article--layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}

.article-headline {
  font-size: 32px;
}

.article-header {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-light);
}

/* WYSIWYG CKEDITOR */
.ck-editor__editable_inline {
  min-height: 150px;
  margin-bottom: 1.5rem;
  padding-left: 30px;
}

/* TODO: Figure out why we need this?  This seems like a bug in CK Editor with bullet lists not indenting. */
.ck-content li {
  margin-left: 50px;
}

:root .dark-theme {
  /* CKEditor content area */
  --ck-color-base-background: var(--color-bg);
}
