.create-article--layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}

/* WYSIWYG CKEDITOR */
.ck-editor__editable_inline {
  min-height: 150px;
  margin-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 30px;
}

.ck-content li {
  margin-left: 50px;
}

.article-headline {
  font-size: 32px;
}

.article-header {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-light);
}

@media screen and (max-width: 1300px) {
  .create-article--layout {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .create-article--layout {
    grid-template-columns: 1fr;
  }
}
