.discussion--layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}

.discussion-headline {
  font-size: 32px;
}

.discussion-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #eaedf3;
}

@media screen and (max-width: 1300px) {
  .discussion--layout {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .discussion--layout {
    grid-template-columns: 1fr;
  }
}
