.discussion--layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}

.question-wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr;
  margin-bottom: 20px;
}

.discussion-headline {
  font-size: 32px;
}

.asked-by {
  margin-top: 10px;
  color: var(--color-gray);
  font-style: italic;
}

.question-sidebar {
  margin-right: 10px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-vote-count {
  font-size: 16px;
  font-weight: 900;
  color: var(--color-success);
}

.big-up-arrow {
  font-size: 18px;
}

.big-down-arrow {
  font-size: 18px;
}

.voting-widget {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-body {
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-light);
}

/* .snippet-wrapper:hover {
  transition: 0.2s;
  border-radius: 5px;
  background-color: var(--color-white);
} */

@media screen and (max-width: 1300px) {
  .discussion--layout {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .discussion--layout {
    grid-template-columns: 1fr;
  }
}
