.error500page {
  text-align: center;
}

.error500page__banner {
  font-size: 18rem;
  text-shadow: var(--generic-shadow);
  white-space: nowrap;
}

.error500page__logo {
  height: 140px;
  width: 140px;
}

.error500page__title {
  margin-bottom: 0.4em;
}

.error500page__info {
  font-size: 2.4rem;
}

.error500page__link {
  margin: 1rem;
  font-size: 2rem;
}

.error500page__code,
.error500page__code pre {
  margin-top: 3rem;
}

@media screen and (max-width: 480px) {
  .error500page__logo {
    height: 100px;
    width: 100px;
  }
}
