.main404page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main404page__title {
  font-size: 18rem;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.main404page__sub-title {
  margin-bottom: 0.4em;
}

.main404page__info {
  margin-top: 0;
  font-size: 15px;
}

.main404page__logo {
  height: 130px;
  width: 130px;
}

@media screen and (max-width: 480px) {
  .main404page__logo {
    height: 100px;
    width: 100px;
  }
}

.main404page__themeToggler {
  float: right;
  font-size: 3rem;
  margin-top: 2%;
  margin-right: -80rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 800px) {
  .main404page__themeToggler {
    font-size: 3rem;
    margin-top: 4%;
    margin-right: -50rem;
    -webkit-tap-highlight-color: transparent;
  }
}

@media screen and (max-width: 580px) {
  .main404page__themeToggler {
    font-size: 3rem;
    margin-top: 4%;
    margin-right: -38rem;
    -webkit-tap-highlight-color: transparent;
  }
}

@media screen and (max-width: 380px) {
  .main404page__themeToggler {
    font-size: 3rem;
    margin-top: 4%;
    margin-right: -28rem;
    -webkit-tap-highlight-color: transparent;
  }
}
