.main500page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main500page__banner {
  font-size: 18rem;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.main500page__logo {
  height: 140px;
  width: 140px;
}

.main500page__title {
  margin-bottom: 0.4em;
}

.main500page__info {
  margin-bottom: 0.8em;
}

@media screen and (max-width: 480px) {
  .main500page__logo {
    height: 100px;
    width: 100px;
  }
}