.main500page {
  background-color: var(--color-bg);
  font-family: 'Poppins', sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main500page h1 {
  color: var(--color-text);
  font-size: 18rem;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.main500page span {
  color: var(--color-main);
  display: inline-block;
}

.main500page h2 {
  color: var(--color-text);
  margin-bottom: 0.4em;
}

.main500page p {
  color: var(--color-text);
  margin-top: 0;
}

.image__500 {
  height: 140px;
  width: 140px;
}
