* {
  -webkit-tap-highlight-color: transparent;
}

.forgotpwd {
  position: relative;
  min-height: 100vh;
}

.forgotpwd__header {
  padding: 3rem 0;
  background-color: var(--color-light);
}

.dark-theme .forgotpwd__header {
  background-color: var(--color-main-light);
}

.forgotpwd__header > .container {
  display: flex;
  justify-content: space-between;
}

.forgotpwd__headerLogo {
  display: flex;
  align-items: center;
}

.forgotpwd__headerLogo > img {
  height: 6rem;
}

.forgotpwd__headerLogo > h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 1rem;
  font-weight: var(--font-bold);
}

.forgotpwd__headerTitle {
  margin-top: 4rem;
  color: var(--color-text);
  font-size: 4.5rem;
  text-transform: uppercase;
}

.forgotpwd__headerSubtitle {
  font-size: 2rem;
}

.forgotpwd__themeIcon,
.forgotpwd__footerIcon {
  font-size: 3rem;
  cursor: pointer;
}

.forgotpwd__footerIcon {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  border-bottom: 0.25px dotted var(--color-main);
}

.forgotpwd__body {
  margin-bottom: 12rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.forgotpwd__bodyLeft {
  flex-basis: 36%;
}

.forgotpwd__social {
  border-top: 2px solid var(--color-main-light);
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgotpwd__heroImage {
  height: 34vw;
  position: absolute;
  top: -18vh;
  right: 0;
}

.forgotpwd__footer {
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--color-main-light);
}

.forgotpwd__footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgotpwd__footerLeft {
  display: flex;
  align-items: center;
}

.forgotpwd__footerLeft .forgotpwd__footerIcon {
  font-size: 2rem;
}

.forgotpwd__footerLeft p {
  font-size: 1.4rem;
}

.forgotpwd__footerRight {
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: right;
}

.forgotpwd__footerRight p {
  font-size: 1.25rem;
}

/* Dark Theme */
.dark-theme .forgotpwd input.input {
  border-color: var(--color-sub);
}

/* Media Queries */

@media screen and (max-width: 1366px) {
  .forgotpwd__headerTitle {
    font-size: 4rem;
  }

  .forgotpwd__bodyLeft {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 1100px) {
  .forgotpwd__headerTitle {
    margin-top: 4rem;
    font-size: 3rem;
    line-height: 1.3;
  }

  .forgotpwd__body {
    margin-bottom: 12rem;
  }

  .forgotpwd__bodyRight {
    display: none;
  }

  .forgotpwd__bodyLeft {
    flex-basis: 100%;
  }

  .forgotpwd__social {
    justify-content: flex-start;
  }

  .forgotpwd__footerRight p {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .forgotpwd__headerTitle {
    margin-top: 3rem;
    font-size: 2rem;
  }

  .forgotpwd__headerSubtitle {
    font-size: 1.6rem;
  }

  .forgotpwd__footerLeft p,
  .forgotpwd__footerLeft span {
    display: none;
  }
}

.forgotpwd__footerIcon .tooltip-text {
  visibility: hidden;
  background-color: var(--color-main);
  color: var(--color-main-light);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  position: absolute;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.forgotpwd__footerIcon:hover .tooltip-text {
  visibility: visible;
}
