#header {
  /* Change this to that sticky header I like*/
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-sub);
  color: var(--color-white);
  padding-left: 20px;
  padding-right: 20px;
  z-index: 100;
}

.dark-theme #header {
  background-color: var(--color-sub-light);
}

#logo {
  font-size: 32px;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 24px;
  cursor: pointer;
}

.nav-item {
  margin: 10px;
}

#user--navigation {
  position: fixed;
  width: 300px;
  top: 60px;
  right: 20px;
}

#nav-toggle-icon {
  cursor: pointer;
}

.user-navigation--item {
  padding: 10px;
  border-bottom: 1px solid var(--color-light);
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: var(--color-text);
  text-transform: capitalize;
}
.user-navigation--item:hover {
  background-color: var(--color-light);
}

.user--nav--icon {
  color: var(--color-sub);
}
