#header {
  /* Change this to that sticky header I like*/
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-sub);
  color: var(--color-white);
  padding: 0 5%;
  z-index: 100;
}

.dark-theme #header {
  background-color: var(--color-main-light);
}

#logo {
  text-transform: lowercase;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#logo img {
  height: 4.2rem;
}

#logo h3 {
  display: inline-block;
  margin-left: 0.85rem;
  font-size: 3.2rem;
  font-weight: var(--font-bold);
  color: var(--color-main);
}

#nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 24px;
  cursor: pointer;
}

.nav-item {
  margin: 10px;
}

#user--navigation {
  position: fixed;
  width: 300px;
  top: 60px;
  right: 20px;
}

#nav-toggle-icon {
  cursor: pointer;
}

.user-navigation--item {
  padding: 10px;
  border-bottom: 1px solid var(--color-light);
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: var(--color-text);
  text-transform: capitalize;
}
.user-navigation--item:hover {
  background-color: var(--color-light);
}

.user--nav--icon {
  color: var(--color-sub);
  margin-right: 10px;
}
