.loginSignup {
  height: 100vh;
}

.loginSignup__header {
  padding: 3rem 0;
  background-color: var(--color-light);
}

.dark-theme .loginSignup__header {
  background-color: var(--color-main-light);
}

.loginSignup__header > .container {
  display: flex;
  justify-content: space-between;
}

.loginSignup__headerLogo {
  height: 6rem;
}

.loginSignup__headerTitle {
  margin-top: 4rem;
  color: var(--color-sub);
  font-size: 4.5rem;
  text-transform: uppercase;
}

.loginSignup__headerSubtitle {
  font-size: 2rem;
}

.loginSignup__themeIcon,
.loginSignup__footerIcon {
  font-size: 3rem;
  cursor: pointer;
}

.loginSignup__body {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.loginSignup__heroImage {
  height: 33vw;
  position: absolute;
  top: -15vh;
  right: 0;
}

.loginSignup__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.loginSignup__footer {
  padding: 0.5rem 0;
  background-color: var(--color-main-light);
}

.loginSignup__footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginSignup__footer p {
  font-size: 1.3rem;
}

.loginSignup__footerRight {
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: right;
}

.loginSignup__footerIcon {
  margin-left: 1.5rem;
}
