* {
  -webkit-tap-highlight-color: transparent;
}

.loginSignup {
  position: relative;
  min-height: 100vh;
}

.loginSignup__header {
  padding: 3rem 0;
  background-color: var(--color-light);
}

.dark-theme .loginSignup__header {
  background-color: var(--color-main-light);
}

.loginSignup__header > .container {
  display: flex;
  justify-content: space-between;
}

.loginSignup__headerLogo {
  display: flex;
  align-items: center;
}

.loginSignup__headerLogo > img {
  height: 6rem;
}

.loginSignup__headerLogo > h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 1rem;
  font-weight: var(--font-bold);
}

.loginSignup__headerTitle {
  margin-top: 4rem;
  color: var(--color-text);
  font-size: 4.5rem;
  text-transform: uppercase;
}

.loginSignup__headerSubtitle {
  font-size: 2rem;
}

.loginSignup__themeIcon,
.loginSignup__footerIcon {
  font-size: 3rem;
  cursor: pointer;
}

.loginSignup__footerIcon {
  position: relative;
  display: inline-block;
  border-bottom: 0.25px dotted var(--color-main);
  margin-left: 1.5rem;
}

.loginSignup__body {
  margin-bottom: 12rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.loginSignup__bodyLeft {
  flex-basis: 36%;
}

.loginSignup__social {
  border-top: 2px solid var(--color-main-light);
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginSignup__heroImage {
  height: 34vw;
  position: absolute;
  top: -18vh;
  right: -8vw;
}

.loginSignup__footer {
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--color-main-light);
  overflow-x: hidden;
}

.loginSignup__footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginSignup__footerLeft {
  display: flex;
  align-items: center;
}

.loginSignup__footerLeft .loginSignup__footerIcon {
  font-size: 2rem;
}

.loginSignup__footerLeft p {
  font-size: 1.4rem;
}

.loginSignup__footerRight {
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: right;
}

.loginSignup__footerRight p {
  font-size: 1.25rem;
}

.loginSignup__headerRight {
  -webkit-tap-highlight-color: transparent;
}

/* Dark Theme */
.dark-theme .loginSignup input.input {
  border-color: var(--color-sub);
}

/* Media Queries */

@media screen and (max-width: 1256px) {
  .loginSignup__heroImage {
    height: 37vw;
    top: -5vh;
    left: 47vw;
  }
}

@media screen and (max-width: 1366px) {
  .loginSignup__headerTitle {
    font-size: 4rem;
  }

  .loginSignup__bodyLeft {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 1201px) {
  .loginSignup__heroImage {
    height: 36vw;
    right: -9.5vw;
    top: -3vh;
  }

  .loginSignup__footer {
    position: relative;
  }
}

@media screen and (max-width: 1100px) {
  .loginSignup__headerTitle {
    margin-top: 4rem;
    font-size: 3rem;
    line-height: 1.3;
  }

  .loginSignup__body {
    margin-bottom: 12rem;
  }

  .loginSignup__bodyRight {
    display: none;
  }

  .loginSignup__bodyLeft {
    flex-basis: 100%;
  }

  .loginSignup__social {
    justify-content: flex-start;
  }

  .loginSignup__footerRight p {
    display: none;
  }

  .loginSignup__footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .loginSignup__headerTitle {
    margin-top: 3rem;
    font-size: 2rem;
  }

  .loginSignup__headerSubtitle {
    font-size: 1.6rem;
  }

  .loginSignup__footerLeft p,
  .loginSignup__footerLeft span {
    display: none;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
  .loginSignup__heroImage {
    height: 38vw;
    left: 53vw;
    top: -2.75vh;
  }
}

@media screen and (min-width: 1257px) and (max-width: 1290px) {
  .loginSignup__heroImage {
    height: 36vw;
    left: 50vw;
    top: -4vh;
  }
}

@media screen and (min-width: 1291px) and (max-width: 1339px) {
  .loginSignup__heroImage {
    height: 35vw;
    left: 50vw;
    top: -5vh;
  }
}

@media screen and (min-width: 1339px) and (max-width: 1365px) {
  .loginSignup__heroImage {
    height: 34vw;
    left: 52vw;
    top: -5vh;
  }
}

@media screen and (min-width: 1365px) {
  .loginSignup__heroImage {
    height: 33vw;
    left: 52vw;
    top: -7vh;
  }
}

@media screen and (min-width: 1437px) and (max-width: 1584px) {
  .loginSignup__heroImage {
    height: 31vw;
    left: 48vw;
    top: -10vh;
  }
}

@media screen and (min-width: 1585px) {
  .loginSignup__heroImage {
    height: 32vw;
    left: 45vw;
    top: -18vh;
  }
}

.loginSignup__footerIcon .tooltip-text {
  visibility: hidden;
  background-color: var(--color-main);
  color: var(--color-main-light);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  position: absolute;
}

.loginSignup__footerIcon:hover .tooltip-text {
  visibility: visible;
}
