.loginSignup {
  position: relative;
  min-height: 100vh;
}

.loginSignup__header {
  padding: 3rem 0;
  background-color: var(--color-light);
}

.dark-theme .loginSignup__header {
  background-color: var(--color-main-light);
}

.loginSignup__header > .container {
  display: flex;
  justify-content: space-between;
}

.loginSignup__headerLogo {
  display: flex;
  align-items: center;
}

.loginSignup__headerLogo > img {
  height: 6rem;
}

.loginSignup__headerLogo > h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 1rem;
  font-weight: var(--font-bold);
}

.loginSignup__headerTitle {
  margin-top: 4rem;
  color: var(--color-text);
  font-size: 4.5rem;
  text-transform: uppercase;
}

.loginSignup__headerSubtitle {
  font-size: 2rem;
}

.loginSignup__themeIcon,
.loginSignup__footerIcon {
  font-size: 3rem;
  cursor: pointer;
}

.loginSignup__body {
  margin-bottom: 12rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.loginSignup__bodyLeft {
  flex-basis: 36%;
}

.loginSignup__social {
  border-top: 2px solid var(--color-main-light);
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginSignup__heroImage {
  height: 34vw;
  position: absolute;
  top: -18vh;
  right: -8vw;
}

.loginSignup__footer {
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--color-main-light);
}

.loginSignup__footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginSignup__footerLeft {
  display: flex;
  align-items: center;
}

.loginSignup__footerIcon {
  margin-left: 1.5rem;
}

.loginSignup__footerLeft .loginSignup__footerIcon {
  font-size: 2rem;
}

.loginSignup__footerLeft p {
  font-size: 1.4rem;
}

.loginSignup__footerRight {
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: right;
}

.loginSignup__footerRight p {
  font-size: 1.25rem;
}

.loginSignup__headerRight {
  -webkit-tap-highlight-color: transparent;
}

/* Dark Theme */
.dark-theme .loginSignup input.input {
  border-color: var(--color-sub);
}

/* Media Queries */

@media screen and (max-width: 1439px) {
  .loginSignup__heroImage {
    height: 38vw;
    top: -20vh;
    right: -8vw;
  }
}

@media screen and (max-width: 1366px) {
  .loginSignup__headerTitle {
    font-size: 4rem;
  }

  .loginSignup__bodyLeft {
    flex-basis: 45%;
  }

  .loginSignup__heroImage {
    height: 38vw;
    right: -9vw;
  }
}

@media screen and (max-width: 1260px) {
  .loginSignup__heroImage {
    height: 36vw;
    right: -9.5vw;
  }
}

@media screen and (max-width: 1199px) {
  .loginSignup__heroImage {
    height: 40vw;
    right: -3vw;
  }
}

@media screen and (max-width: 1100px) {
  .loginSignup__headerTitle {
    margin-top: 4rem;
    font-size: 3rem;
    line-height: 1.3;
  }

  .loginSignup__body {
    margin-bottom: 12rem;
  }

  .loginSignup__bodyRight {
    display: none;
  }

  .loginSignup__bodyLeft {
    flex-basis: 100%;
  }

  .loginSignup__social {
    justify-content: flex-start;
  }

  .loginSignup__footerRight p {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .loginSignup__headerTitle {
    margin-top: 3rem;
    font-size: 2rem;
  }

  .loginSignup__headerSubtitle {
    font-size: 1.6rem;
  }

  .loginSignup__footerLeft p,
  .loginSignup__footerLeft span {
    display: none;
  }

  .loginSignup__footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
