.notification {
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-light);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.notification--item {
  padding: 15px 20px;
  border-bottom: 1px solid var(--color-light);
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.notification--unread p {
  font-weight: 500;
}

.notification--item:hover {
  background-color: var(--color-light);
}

.notification--item--right {
  margin-left: 25px;
}

.notification--meta {
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: var(--font-medium);
  font-size: 1.3rem;
  color: var(--color-light-gray);
  margin-left: 80%;
}

.notification--layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}

@media screen and (max-width: 1300px) {
  .notification--layout {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .notification--layout {
    grid-template-columns: 1fr;
  }
}
