.profile--layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 0.5rem;
}

#user-profile-summary {
  text-align: center;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

#user-profile-name {
  font-size: 28px;
}

#profile-stats-wrapper {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 1300px) {
  .profile--layout {
    grid-template-columns: 1fr 2fr;
  }

  #sidebar--right--profile {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .profile--layout {
    grid-template-columns: 1fr;
  }
}
