#search-page-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 1rem;
}

.searchitem__wrapper--1 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.searchitem__link {
  width: 100%;
}

.searchitem__info {
  flex: 1;
}

.searchitem__info--top {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.searchitem__info--top-text {
  flex: 1;
}

.search--item--wrapper--2 {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.category-link {
  color: var(--color-text);
  cursor: pointer;
}

.category-link--active {
  color: var(--color-main);
  font-weight: 900;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1300px) {
  #search-page-layout {
    grid-template-columns: 0fr 2fr 1fr;
    justify-content: ;
  }
}

@media screen and (max-width: 1000px) {
  #search-page-layout {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .search--item--info-1-top-text {
    display: flex;
    flex-direction: column;
  }
}
