.settings-update:not(:last-child) {
  margin-bottom: 5rem;
}

.settings-update--profile {
  text-align: center;
}

.settings-update__title {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--color-light);
  display: flex;
  align-items: center;
}

.settings-update--profile > .settings-update__title {
  justify-content: space-between;
}

.settings-update__title span {
  margin-right: 3rem;
  font-size: 2rem;
  font-weight: var(--font-medium);
  color: var(--color-sub-light);
  text-transform: uppercase;
}

.dark-theme .settings-update__title span {
  color: var(--color-gray);
}

.settings-update--profile .settings-update__info h4 {
  margin-top: 1rem;
  color: var(--color-sub-light);
  font-size: 2.6rem;
}

.settings-update--profile .settings-update__info small {
  display: block;
  margin: 0.2rem 0;
  color: var(--color-sub-light);
}

.dark-theme .settings-update--profile .settings-update__info h4,
.dark-theme .settings-update--profile .settings-update__info small {
  color: var(--color-text);
}

.settings-update--profile .settings-update__info small:nth-of-type(2) {
  font-weight: var(--font-bold);
  color: var(--color-main);
}

.settings-update--profile .settings-update__info p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.dark-theme .settings-update--profile .settings-update__info p {
  color: var(--color-gray);
}

.settings-update__avatar {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.settings-update__avatar input[type='file'] {
  position: absolute;
  top: -23px;
  opacity: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  outline: none;
}

.settings-update__avatar input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}

.toggle-theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252525;
  -webkit-transition: 400ms;
  transition: 400ms;
  border-radius: 34px;
}

.theme-slider::before {
  position: absolute;
  content: '';
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 400ms;
  transition: 400ms;
  border-radius: 50%;
}

input:checked + .theme-slider {
  background-color: var(--color-main);
}

input:focus + .theme-slider {
  box-shadow: 0 0 1px var(--color-main);
}

input:checked + .theme-slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Cropping */
.profile-pic--cropper-container {
  max-height: 710px;
  overflow: hidden;
  text-align: center;
}

@media (max-height: 568) {
  .profile-pic--cropper-container {
    max-height: 380px;
  }
}

.ReactCrop__image {
  max-height: auto;
}

@media (max-height: 640px) {
  .profile-pic--cropper-container {
    max-height: 400px;
  }

  .ReactCrop__image {
    max-height: 400px;
  }
}

@media (max-height: 740px) {
  .profile-pic--cropper-container {
    max-height: 520px;
  }

  .ReactCrop__image {
    max-height: 520px;
  }
}

@media (max-height: 700px) {
  .profile-pic--cropper-container {
    max-height: 440px;
  }

  .ReactCrop__image {
    max-height: 440px;
  }
}

@media (max-height: 640px) {
  .profile-pic--cropper-container {
    max-height: 440px;
  }

  .ReactCrop__image {
    max-height: 440px;
  }
}

@media (max-height: 568px) {
  .profile-pic--cropper-container {
    max-height: 390px;
  }

  .ReactCrop__image {
    max-height: 390px;
  }
}

@media (min-width: 700px) {
  .profile-pic--cropper-container {
    max-height: 710px;
    overflow: hidden;
    text-align: center;
  }

  .ReactCrop__image {
    max-height: 710px;
  }
}

.settings-update__infoplaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 15px;
}

.settings-update-image__infoplaceholder {
  width: 120px !important;
  height: 120px !important;
}

.settings-update-tag-placeholder__info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.settings-update-tag_placeholder {
  font-size: 25px !important;
}

@media (min-width: 442px) {
  .settings-update-image__infoplaceholder {
    width: 130px !important;
    height: 130px !important;
  }

  .settings-update-tag_placeholder {
    font-size: 28.9px !important;
  }
}

@media (min-width: 1080px) {
  .settings-update-image__infoplaceholder {
    width: 150px !important;
    height: 150px !important;
  }

  .settings-update-tag_placeholder {
    font-size: 32.22px !important;
  }
}

@media (min-width: 1700px) {
  .settings-update-image__infoplaceholder {
    width: 180px !important;
    height: 180px !important;
  }

  .settings-update-tag_placeholder {
    font-size: 36.22px !important;
  }
}

.avatar-settings__options {
  padding-bottom: 10rem;
  line-height: 2;
}

.avatar-settings__dropmenu {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-right: 3.5rem;
}

.avatar-settings__dropmenu-icon {
  cursor: pointer;
}

.dropmenu {
  transform-origin: top right;
  transition: all 0.05s ease-in-out 0s;
  transform: scaleY(0);
  top: 5rem;
  left: 0;
}

.dropmenu--show {
  transform: scaleY(1);
}
