#settings-page-container {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  column-gap: 15px;
  grid-template-columns: minmax(300px, 390px) auto;
}

#settings-pic-wrapper {
  text-align: center;
}
#settings-pic-wrapper .btn-md {
  margin: 0 auto;
}

/* Media Queries for SMARTPHONE 320px */
@media (max-width: 992px) {
  #settings-page-container {
    display: flex;
    flex-flow: column nowrap;
  }
}

.user-setting-edit {
  color: #5aa5b9;
  cursor: pointer;
}
.profile-update-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.profile-update-btn input[type='file'] {
  position: absolute;
  top: -23px;
  opacity: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  outline: none;
}
.profile-update-btn input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}
.profile-update-btn span i {
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}
@media (min-width: 480px) {
  .profile-update-btn span i {
    font-size: 16px;
  }
}

.profile-pic--cropper-container {
  max-height: 710px;
  overflow: hidden;
  text-align: center;
}
@media (max-height: 568){
  .profile-pic--cropper-container {
    max-height: 380px;

  }
}
.ReactCrop__image {
  max-height: auto;
}
@media (max-height: 640px){
  .profile-pic--cropper-container {
    max-height: 400px;

  }
  .ReactCrop__image {
    max-height: 400px;
  }
}
@media (max-height: 740px){
  .profile-pic--cropper-container {
    max-height: 520px;

  }
  .ReactCrop__image {
    max-height: 520px;
  }
}
@media (max-height: 700px){
  .profile-pic--cropper-container {
    max-height: 440px;

  }
  .ReactCrop__image {
    max-height: 440px;
  }
}
@media (max-height: 640px){
  .profile-pic--cropper-container {
    max-height: 440px;

  }
  .ReactCrop__image {
    max-height: 440px;
  }
}
@media (max-height: 568px){
  .profile-pic--cropper-container {
    max-height: 390px;

  }
  .ReactCrop__image {
    max-height: 390px;
  }
}

@media(min-width: 700px){
  .profile-pic--cropper-container {
    max-height: 710px;
    overflow: hidden;
    text-align: center;
  }
  .ReactCrop__image {
    max-height: 710px;
  }
  
}