h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}

p,
span,
strong {
  font-size: 16px;
  color: $color-text;
}

pre > code * {
  font-family: $font-monospace !important;
}
