h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}

p,
span,
strong {
  font-size: 16px;
  color: rgb(73, 73, 73);
}

.syntax {
  background-color: hsl(0deg, 0%, 15%);
  border: 1px solid #999;
  display: block;
  padding: 20px;
  color: #eee;
  width: 90%;
  resize: none;
  font-size: 16px;
}
