h1 {
  font-size: 4.8rem;
  font-weight: $font-medium;
}
h2 {
  font-size: 3.6rem;
  font-weight: $font-bold;
}
h3 {
  font-size: 3.2rem;
  font-weight: $font-medium;
}
h4 {
  font-size: 2.8rem;
  font-weight: $font-regular;
}
h5 {
  font-size: 2.4rem;
  font-weight: $font-light;
}
h6 {
  font-size: 1.8rem;
  font-weight: $font-light;
}

p,
span,
strong {
  font-size: 1.6rem;
  color: $color-text;
  font-weight: $font-regular;
}

strong {
  font-weight: $font-medium;
}

pre > *,
pre > code * {
  font-family: $font-monospace !important;
}

a {
  color: $color-main;
  font-weight: $font-medium;
}
